@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"); /*Importing google fonts 'Roboto Mono'*/

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0 30px;
  background-image: linear-gradient(45deg, #ef709b, #fa9372);
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  font-family: "Roboto Mono", monospace;
}
/* Containers */
.container {
  width: 80%;
  max-width: 1100px;
  min-width: 310px;
  background-color: #fff;
  padding: 50px 20px;
  border-radius: 15px;
}
.inner-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: 0;
  gap: 20px;
}
/* Header */
.header {
  text-align: center;
  line-height: 0.4;
  margin-bottom: 40px;
  /* font-family: "Roboto Mono", monospace; */
}
.header h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}
.header p {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.7);
}
/* Form */
.form-container {
  width: 100%;
}
#form {
  width: 100%;
}
.text-field {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 350px;
  min-width: 100px;
}
.text-field label {
  display: block;
  background-color: #fff;
  width: fit-content;
  font-size: 1rem;
  padding: 0 3px;
  position: absolute;
  left: 5px;
}
.text-field input[type="email"],
.text-field input[type="password"] {
  width: 100%;
  margin: 10px 0;
  outline: 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
}
.text-field input::placeholder {
  font-family: "Roboto Mono", monospace;
}
#form input[type="submit"] {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  display: block;
  width: 50%;
  max-width: 300px;
  padding: 8px;
  margin: 8px auto 0;
  background: linear-gradient(45deg, #ef709b, #fa9372);
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  scale: 1;
  transition: all 2s ease-in-out;
}
#form input[type="submit"]:hover {
  background-image: linear-gradient(45deg, #4dbcfb, #347c92);
}
.form-footer {
  margin: 20px auto 0;
  width: 100%;
  max-width: 350px;
}
.form-footer figure {
  background-color: #fff;
  display: grid;
  align-items: center;
  /* place-items: center; */
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0 auto 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 3px;
  cursor: pointer;
}
.form-footer figure:hover {
  background-color: #9f9f9f12;
}
.form-footer figure img {
  justify-self: right;
}

/* Form Background */
.bg-container img {
  width: 100%;
  border-radius: 8px;
}

/* Responsives + refactoring coming... */

@media only screen and (max-width: 1000px) {
  .inner-container {
    grid-template-columns: 1fr;
  }
  .header h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .header p {
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.7);
  }
  .header {
    line-height: 1;
  }
  .form-footer {
    margin: 20px auto 0;
    width: 350px;
  }
  .form-footer figure {
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin-bottom: 5px;
  }
  .text-field {
    width: 78%;
    margin: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .bg-container img {
    display: none;
  }
}
